*{ 
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

:root {
  --text-color: white; 
  --bg-url: url(imagens/mobile/background\ dark.jpg);
  --border-ul: rgba(255, 255, 255, 0.5);
  --background-ul: rgba(255, 255, 255, 0.1);
  --background-ul-hover: rgba(255, 255, 255, 0.05);
  --background-social-hover: rgba(255, 255, 255, 0.2);
  --button-url: url(imagens/moon-stars.svg);

}

.light{ 
  --text-color: black;  
  --bg-url: url(imagens/mobile/background\ light.jpg);
  --border-ul: rgba(0, 0, 0, 0.5);
  --background-ul: rgba(0, 0, 0, 0.05);
  --background-ul-hover: rgba(0, 0, 0, 0.02);
  --background-social-hover: rgba(0, 0, 0, 0.1);
  --button-url: url(imagens/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100%;
}

body *{
  font-family: 'Inter', sans-serif;
  color: var(--text-color);

}

#container{
  width: 100%;
  max-width: 588px;
  min-width: 320px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button{
  height: 32px;
  width: 32px;
  background: white var(--button-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  left:0;
  position: absolute;
  z-index: 1;
  top:50%;
  transform:translateY(-50%);
  animation: slide-back 0.3s;
}

.light #switch button{
  animation: slide-in 0.3s forwards;
}

#switch button:hover{
  outline: 8px solid var(--background-social-hover);
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--background-ul);
  border: 1px solid var(--border-ul);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#profile{
  text-align: center;
  padding: 24px;
}

#profile img{
  display: block;
  width: 112px;
  margin: auto;
}

#profile p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

ul {
list-style: none;
display: flex;
flex-direction: column;
gap: 16px;
padding: 24px;
}

ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--background-ul);
  border: 1px solid var(--border-ul);
  border-radius: 8px; 
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--background-ul-hover);
  border: 1.5px solid var(--text-color);
}

#social-links{
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: 0.2s;
}

#social-links a:hover{
  background: var(--background-social-hover);
}

footer{
  font-size: 14px;
  padding: 24px 0;
  text-align: center;
}

@media (min-width = 700px) {
  :root {
    --bg-url: url(imagens/desktop/background\ dark.jpg);
  }

  .light {
    --bg-url: url(imagens/desktop/background\ light.jpg);
  }

}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back{
  from{
    left:50%;
  }
  to {
    left:0;
  }
}